@media (min-width: 500px){
    body{
        background-image: url(/css/bandera.jpg);
        background-position:center; 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    background-attachment:fixed;
    }
  
}
@media (max-width: 500px)
{
    body{
        background-color: #5F9EA0;
    }
}